<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.yagaja.config.mapper.memberMapper">

	 <resultMap id="member-resultmap" type="member">
		<id column="member_id" property="memberId" />
		<result column="member_password" property="password"/>
		<result column="member_name" property="memberName" />
		<result column="member_phone_number" property="phoneNumber" />
		<result column="member_email" property="email" />
		<result column="member_point" property="point" />		
	</resultMap>
	
	<resultMap id="member-reservation-resultmap" type="member" extends="member-resultmap">
		<collection ofType="reservation" property="reservationList">
			<result column="rent_no" property="rentNo"/>
			<result column="start_rent_date" property="startRentDate"/>
			<result column="end_rent_date" property="endRentDate"/>
			<result column="rent_time" property="rentTime"/>
			<result column="member_id" property="memberId"/>
			<result column="house_id" property="houseId"/>
		</collection>
	</resultMap>

	
	<select id="selectMemberList"  resultMap="member-resultmap">   <!-- 여기서 resultType 만들어야하므로 매핑 -->
		SELECT
		member_id,member_password,member_name,member_phone_number,member_email,member_point 
		FROM member
	</select>

    <select id="selectMemberById" parameterType="String" resultMap="member-reservation-resultmap">   
		SELECT m.member_id, m.member_password, m.member_name, m.member_phone_number, m.member_email, m.member_point,
			   r.rent_no, r.start_rent_date, r.end_rent_date, r.rent_time, r.member_id, r.house_id
		FROM member m, reservation r
		WHERE m.member_id = r.member_id(+) AND m.member_id = #{value}
	</select>


         <!--속성값에 어떤식으로 넣어야 하나.-->
    <insert id="insertMember" parameterType="member">
	INSERT INTO member
	VALUES (                    #{memberId},
								#{password},
								#{memberName},
								#{phoneNumber},
								#{email},
								#{point}						
			)
	</insert> 
    
	<!-- 회원 업데이트 -->
	<update id="updateMember" parameterType="member">
	UPDATE member
	SET 						member_password = #{password},
								member_name = #{memberName},
								member_phone_number = #{phoneNumber},
								member_email = #{email},
								member_point = #{point}
	WHERE member_id = #{memberId}
	</update>
	
	
	
	
	
	



</mapper>