<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.yagaja.config.mapper.reservationMapper">

	<!-- 매개변수로 rentNo를 받아서 해당 예약정보를 삭제하는 메소드 -->
	<delete id="deleteReservationByRentNo" parameterType="_int">
		DELETE FROM
		reservation
		WHERE rent_no = #{value}
	</delete>


	<insert id="insertReservation" parameterType="reservation">
		<selectKey resultType="_int" keyProperty="rentNo" order="BEFORE">
			select rent_no.nextval from dual
		</selectKey>
		INSERT INTO reservation
		VALUES (#{rentNo}, #{startRentDate},
		#{endRentDate}, #{rentTime}, #{memberId}, #{houseId})
	</insert>



	<resultMap type="reservation" id="reservation-resultmap">
		<id column="rent_no" property="rentNo" />
		<result column="start_rent_date" property="startRentDate" />
		<result column="end_rent_date" property="endRentDate" />
		<result column="house_id" property="houseId" />
		<result column="member_id" property="memberId" />
	</resultMap>

</mapper>